.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* TODO remove outline once done */
    outline:#4CAF50  1px solid;
}

.edit-button-container {
    position: relative;
    right: -100px;
  }
  
.edit-button {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  
.edit-icon {
    width: 30px;
    height: 30px;
  }

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.name {
    font-size: 36px;
    margin-bottom: 20px;
}

.email {
    font-size: 18px;
    margin-bottom: 20px;
}

.address {
    font-size: 18px;
    margin-bottom: 20px;
    font-style: italic;
}

.description {
    font-size: 16px;
    margin-bottom: 20px;
}

.button-container {
    display: inline-block; 
  }

.button {
    margin-right: 10px;
  }